[submodule "Software/vortex_ws/src/zed-ros2-wrapper"]
	path = Software/vortex_ws/src/zed-ros2-wrapper
	url = https://github.com/VorteX-co/zed-ros2-wrapper.git
[submodule "Software/vortex_ws/src/vision_opencv"]
	path = Software/vortex_ws/src/vision_opencv
	url = https://github.com/VorteX-co/vision_opencv.git
	branch = eloquent
[submodule "Software/vortex_ws/src/robot_localization"]
	path = Software/vortex_ws/src/robot_localization
	url = https://github.com/VorteX-co/robot_localization.git
	branch = eloquent-devel
[submodule "Software/vortex_ws/src/motion_control/trajectory_tracking_lqr/libs/lin_alg_tools"]
	path = Software/vortex_ws/src/motion_control/trajectory_tracking_lqr/libs/lin_alg_tools
	url = https://github.com/jerelbn/lin_alg_tools.git
[submodule "Software/vortex_ws/src/motion_control/trajectory_tracking_lqr/libs/ruckig"]
	path = Software/vortex_ws/src/motion_control/trajectory_tracking_lqr/libs/ruckig
	url = https://github.com/pantor/ruckig
[submodule "Software/vortex_ws/src/motion_control/trajectory_tracking_lqr/libs/geometry"]
	path = Software/vortex_ws/src/motion_control/trajectory_tracking_lqr/libs/geometry
	url = https://github.com/superjax/geometry.git
[submodule "Software/vortex_ws/src/motion_planning/libs/ruckig"]
	path = Software/vortex_ws/src/motion_planning/libs/ruckig
	url = https://github.com/pantor/ruckig.git
